<!-- show.html.erb -->

<div class="container">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">

        <h2>Title: <%= @post.title %> </h2>
        <p><%= @post.body %></p>
        
        <h2><%= @comment.content %><h2><br>

    </div>
   </div>
</div>