body {
  background: -webkit-linear-gradient(top, rgba(0, 164, 214,1), rgba(0,0,0,.1));
  width: 100%;
  height: 782px;

}

  h2 {
  z-index: -10;
}

#mike {
  position: absolute;
  background: url("cloudBackground.png");
  top: 53px;
  width: 100%;
  height: 730px;
  color: #f58700;
  z-index: -5;
}

.bartSpeak {
  font-family: 'Indie Flower', cursive;
  margin: 35px;
}
  h3 {
    color: #2C3E50;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 45px;
  }

  h3 {
  	color: ##2C3E50;
  	font-family: lucida;
  }


  p {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
  }


.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}


